{% extends 'pizza_base.html' %}

{% block h1 %}
Для менеджера
{% endblock %}

{% block content %}
<form action="/manager" method="post">
    <table align="center" cellpadding="7" border="2" width="100%">
        <tr>
            <td>
                <p>Номер заказа</p>
            </td>
            <td>
                <p>Список пицц</p>
            </td>
            <td>
                <p>Количество пицц</p>
            </td>
            <td>
                <p>Имя клиента</p>
            </td>
            <td>
                <p>Телефон клиента</p>
            </td>
            <td>
                <p>Адрес клиента</p>
            </td>
            <td>
                <p>Статус заказа</p>
            </td>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                <p>{{ order.order_id }}</p>
            </td>
            <td>
                {% for p in order.pizza %}
                <p>{{ p }}</p><br>
                {% endfor %}
            </td>
            <td>
                {% for q in order.pizza_qty %}
                <p>{{ q }}</p><br>
                {% endfor %}
            </td>
            <td>
                <p>{{ order.client_name }}</p>
            </td>
            <td>
                <p>{{ order.client_phone }}</p>
            </td>
            <td>
                <p>{{ order.client_address }}</p>
            </td>
            <td>
                <select name="order_state_{{ order.order_id }}">
                    <option value="Оформлен" {% if order.order_state == "Оформлен" %} selected {% endif %}>Оформлен</option>
                    <option value="Отправлен на кухню" {% if order.order_state == "Отправлен на кухню" %} selected {% endif %}>Отправлен на кухню</option>
                    <option value="Отправлен в доставку" {% if order.order_state == "Отправлен в доставку" %} selected {% endif %}>Отправлен в доставку</option>
                    <option value="Доставлен" {% if order.order_state == "Доставлен" %} selected {% endif %}>Доставлен</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">Изменить статус</button>
</form>
{% endblock %}