{% extends 'pizza_base.html' %}

{% block h1 %}
Для менеджера
{% endblock %}

{% block content %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-primary" role="alert">
              {{ message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
<form action="/pass" method="post">
    <input type="text" name="password" placeholder="Введите пароль">
    <button type="submit" class="btn btn-success">Отправить</button>
</form>
{% endblock %}